<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>IFMO Finder</title>
		<link type="text/css" rel="stylesheet" href="style.css" media="screen" />
	</head>
	<body>
		<div id="container">
			<div class="header">
				<h1><a href="" class="title">IFMO Finder</a></h1>
			</div>
			<div class="content">
				<form action="">
					<div class="controls controls-row">
						<input type="text" placeholder="Name" />
						<input type="text" placeholder="Surname" />
						<input type="text" placeholder="Lastname" />
						<button class="btn btn-inverse">Find Me!</button>
					</div>
				</form>
				
			</div>
			<div class="footer">
				Created by <a href="http://vk.com/asnelzin">Aleksandr Nelzin</a>.
			</div>
		</div>
	</body>
</html>